{% extends "object_detection/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Добавить изображение</h2>

    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <div class="form-group">
            <label>Тип обработки:</label><br>
            {% for choice in form.fields.processing_type.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="processing_type" id="processing_type_{{ forloop.counter }}" value="{{ choice.0 }}" {% if forloop.first %}checked{% endif %} onclick="updateModelInfo('{{ choice.0 }}')">
                    <label class="form-check-label" for="processing_type_{{ forloop.counter }}">
                        {{ choice.1 }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <!-- Обёртываем кнопку и сообщение в flex-контейнер -->
        <div class="form-group">
            <div style="display: flex; align-items: center;">
                <button type="submit" class="btn btn-primary">Загрузить изображение</button>
                <div id="loader" style="display: none; margin-left: 15px;">
                    <p style="margin: 0;">Обработка изображения, пожалуйста, подождите...</p>
                </div>
            </div>
        </div>
    </form>

    <!-- Контейнер для отображения информации о модели -->
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title" id="model-name"></h5>
            <p class="card-text" id="model-description"></p>
            <pre class="card-text" id="model-details" style="white-space: pre-wrap;"></pre>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    var modelInfo = JSON.parse('{{ model_info_json|escapejs }}');

    function updateModelInfo(selectedModel) {
        var info = modelInfo[selectedModel];
        if (info) {
            document.getElementById('model-name').innerText = info.name;
            document.getElementById('model-description').innerText = info.description;
            document.getElementById('model-details').innerText = info.details;
        } else {
            document.getElementById('model-name').innerText = 'Модель не найдена';
            document.getElementById('model-description').innerText = '';
            document.getElementById('model-details').innerText = '';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var selectedModel = document.querySelector('input[name="processing_type"]:checked').value;
        updateModelInfo(selectedModel);
    });

    $(document).ready(function(){
        $('#uploadForm').on('submit', function(){
            $('#loader').show();
            $('button[type="submit"]').prop('disabled', true);
        });
    });
</script>
{% endblock %}
